.a
{
 height:752px;
 width:853px;
 border:1px solid black;
 margin-left:175px;
}

.b
{
 height:136px;
 width:852px;
 
}

.c
{
 height:400px;
 width:852px;
 
}

.d
{
 height:138;
 width:852px;

}

.e
{
 height:40px;
 width:852px;
}

.f
{
 height:39px;
 width:852px;
}