.a
{
 height:500px;
 width:600px;
 border:1px solid white;
 margin-top:70px;
 float:left;
 margin-left:50px;
}

.b
{
 height:165px;
 width:198px;
 border:1px solid white;
 float:left;
}

.a1
{
 height:500px;
 width:600px;
 border:1px solid white;
 float:left;
 margin-left:50px;
 margin-top:70px;
}