.a
{
 height:80px;
 width:100px;
 border:1px solid black;
 background-color:silver;
}

.a:hover
{
 position:relative;
 animation-name:chup;
 -webkit-animation-name:chup;
 -webkit-animation-duration:10s;
 animation-duration:10s;
}

keyframes chup
{
  0% {background-color:blue;left:0px;top:0px;}
  25% {background-color:green;left:300px;top:0px;}
  50% {background-color:grey;left:300px;top:300px;}
  75% {background-color:yellow;left:0px;top:300px;}
  100% {background-color:pink;left:0px;top:0px;}
}

@-webkit-keyframes chup
{
  0% {background-color:blue;left:0px;top:0px;}
  25% {background-color:green;left:300px;top:0px;}
  50% {background-color:grey;left:300px;top:300px;}
  75% {background-color:yellow;left:0px;top:300px;}
  100% {background-color:pink;left:0px;top:0px;}
}
