.a
{
 height:400px;
 width:400px;
 border:1px solid black;
 
 background-color:red;
 
}

.a:hover
{
  transform:rotate(180deg);
  -webkit-transform:rotate(180deg);
  opacity:0.4;
  transition:4s;
  
}