.a
{
 height:75px;
 width:1330px;
 border:0px solid ;
}

.a1
{
 height:500px;
 width:1330px;
 border:0px solid #233B54;
}

.b
{
 height:50px;
 width:1330px;
 border:0px solid #233B54;
 
}

.b1
{
 height:70px;
 width:1330px;
 border:0px solid #233B54;
}