.a
{
 height:75px;
 width:1330px;
 border:0px solid #233B54;
}

.a1
{
 height:100px;
 width:1330px;
 border:0px solid #233B54;
}

.a2
{
 height:75px;
 width:1330px;
 border:0px solid #9FB4C4;
}


.b
{
 height:1200px;
 width:1330px;
 border:0px solid #9FB4C4;
}